body {margin: 5px;}

svg, input {
  margin: 0 auto 10px;
  display: block;
}

text {text-anchor: middle;}
rect { fill: grey; transition: fill 0.5s;}

.highest {
  fill: red;
  transition: fill 0.5s;
}

.lowest {
  fill: blue;
  transition: fill 0.5s;
}
