body {margin: 10px; text-align: center;}

.tooltip {	
    position: absolute;			
    text-align: center;
    color: white;
    padding: 5px;				
    font: 12px sans-serif;		
    background: grey;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}